<%= render "browsedown/pages/style" %>
<div class="browsedown">
  <nav class="browsedown-sidebar">
    <h2><a href="<%= browsedown.root_path %>">Contents</a></h2>
    <% pages.group_by(&:section).each do |section, group| %>
      <% if section %>
        <h3><%= section %></h3>
      <% end %>
      <ul>
        <% group.each do |pg| %>
          <li>
            <a href="<%= browsedown.page_path(path: pg.relative_path.delete_suffix('.md')) %>"
               class="<%= 'active' if defined?(current_page) && current_page&.relative_path == pg.relative_path %>">
              <%= pg.title %>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </nav>
  <main class="browsedown-content">
    <%= yield %>
  </main>
</div>
